 * {
    margin: 0;
    padding: 0;
 }

body {
    background-image: url("../images/galaxy.gif");
}

h1 {
    font-family: Montserrat;
    color: #FFF;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 40px 0;
}

header, .flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    flex-direction: column;
}

/****** Inputs and Buttons ******/
#mass, select, button {
    color:grey;
    padding: 0.75rem;
    border-radius: 5px;
    font-family: Montserrat;
    margin: 5px;
}

select option{
    color:grey;
    background: rgb(128, 128, 128, 0.6);
  }

button{
    background-color: rgb(128, 128, 128, 0.8);
    color: #FFF;
}

/****** Images ******/

.flex-container{
    margin: 2rem 15rem;
    padding: 6rem;
    background-color:  rgb(128, 128, 128, 0.4) ;
}